.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu li{
    margin: 0 20px;
}

.navigation-menu li a{
    text-decoration: none;
    color: white;
}

.navigation-menu li a:hover{
    color: goldenrod;
    transform: translateX(10px);
    transition: all 0.5s;
    zoom: 1.2;
}

.active{
    color: goldenrod !important;
    font-weight: bold !important;
}

/* Mobile view starts here */

.mobile-navigation{
    list-style-type: none;
}

.mobile-navigation li{
    margin-top: 20px;
}

.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

/* Mobile view ends here */